In [1]:
# install a SQL kernel.
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: ipython in /opt/software/lib/python3.10/site-packages (from ipython-sql) (8.17.2)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/software/lib/python3.10/site-packages (from ipython-sql) (2.0.23)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 kB 13.1 MB/s eta 0:00:00
Requirement already satisfied: six in /opt/software/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/software/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/software/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/software/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.41)
Requirement already satisfied: pygments>=2.4.0 in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (5.13.0)
Requirement already satisfied: exceptiongroup in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/software/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/software/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/software/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/software/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/software/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/software/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/software/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlparse-0.4.4

In [2]:
# Load SQL extension
%load_ext sql

### 1. Create database engine and load into SQLite database table

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# List of CSV files to process
csv_files = ['actors.csv', 'customers.csv', 'actsin.csv', 'renting.csv', 'movies.csv']

# Create an SQLite database engine
engine = create_engine('sqlite:///movies_data.db', echo=False)

# Iterate over the CSV files and load them into the database
for csv_file in csv_files:
    # Read the CSV file into a DataFrame
    df = pd.read_csv("Dataset/" + csv_file)
    
    # Extract the table name from the file name (removing the extension)
    table_name = csv_file.split('.')[0]
    
    # Write the DataFrame to an SQLite database table
    df.to_sql(table_name, con=engine, index=False, if_exists='replace')

In [7]:
%%sql sqlite:///movies_data.db

-- Example SQL query
SELECT * FROM actors LIMIT 5;

Done.

[(1, 'Abbie Cornish', 1982.0, 'Australia', 'female'),
 (2, 'Adam Sandler', 1966.0, 'USA', 'male'),
 (3, 'Al Pacino', 1940.0, 'USA', 'male'),
 (4, 'Amy Adams', 1974.0, 'USA', 'female'),
 (5, 'Andrea Riseborough', 1981.0, 'British', 'female')]